*{
    font-family: 'Press Start 2P', 'sans-serif';
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    background-image: url('../img/laihibkyx1o41.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.content{
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/laihibkyx1o41.jpg');
    background-attachment: fixed;
    background-size: cover;


}

.content h1 {
    margin: 0;
}



@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

}

